body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    background-color: #D61F57;
    color: white;
    font-size: 3rem;
    width: 85%;
    text-align: center;
}

fieldset {
    width: 90vw;
    text-align: center;
}